*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#navbar{
    height: 5rem;
    background-color: #e67e22;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}
.nav-list{
    float: right;
    margin-right: 2rem;
    display: flex;
}
.nav-list li{
    list-style: none;
    margin-left: 2rem;
}
.nav-list li a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

#welcome-section{
    height: 100vh;
    background: linear-gradient(120deg, #2c3e50, black);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome-section h1{
    font-size: 3em;
    margin-bottom: 1.5rem;
}
#welcome-section p{
    color: #d35400;
}

#projects{
    background: #d35400;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: white;
}
#projects h1{
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.project-tile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.project-tile a{
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;   
    margin-left: 1rem;
    margin-top: 1rem;
}
#showAll{
    color: white;
    text-decoration: none;
    margin-top: 2rem;
}
#bfrFooter{
    background: black;
    height: calc(100vh - 7rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workText{
    color: white;
    text-align: center;
}
.workText h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 13rem;
}
.workText p{
    color: #d35400;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.contacts a{
    text-decoration: none;
    color: white;
    
    margin-left: 2rem;
    transition: .3s ease-in-out;
}
.contacts a:hover{
    transform: scale(1.1);
    color: #d35400;
}
#last{
    background-color: #e67e22;
    height: 7rem;
    border-top: 10px solid #d35400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    color: black;
}
#last a{
    text-decoration: none;
    color: #d35400;
    font-weight: 700;
}
#line{
    margin-top: 4rem;
    width: 80%;
    background-color: #d35400;
    border: 1px solid #d35400;
}

@media (min-height:1200px){
    *{font-size: 2rem;}
    
}